@use '../../styles/variables' as vars;

.store-front-page {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  .filters-panel {
    padding: 1em;
    display: grid;
    gap: 1em;
    grid-template-rows: auto 200px 200px auto auto;

    .buttons-panel {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      gap: 1em;
      justify-content: space-around;

      .clear-filters::before {
        background-image: url('../../assets/icons/clear-filters.svg');
      }

      .copy-filters {
        &::before {
          background-image: url('../../assets/icons/copy.svg');
        }

        &.copied::before {
          background-image: url('../../assets/icons/check.svg');
        }

        &.copied + .copy-hint {
          display: block;
        }
      }

      .copy-hint {
        display: none;
        position: absolute;
        top: 120%;
        right: 0;
        width: fit-content;
        text-align: center;
        color: white;
        padding: 0.2em 0.6em;
        border-radius: 0.3em;
        background-color: dimgray;
      }

    }
  }
  .search-panel {
    padding: 1em;
    display: flex;
  }
  .products-panel {
    padding: 1em;
  }
}

@media screen and (max-width: vars.$mobile-breakpoint) {
  .store-front-page {
    grid-template-columns: 1fr;
  }
}