:root {
  --header-height: 60px;
  --header-bg-color: skyblue;
  --header-color: white;
  --logo-color: white;
  
  --footer-height: 40px;
  --footer-bg-color: var(--header-bg-color);

  --card-title-bg-color: skyblue;
  --card-title-color: white;
  --card-body-bg-color: white;
  --card-body-color: black;
}