:root {
  --header-height: 60px;
  --header-bg-color: skyblue;
  --header-color: white;
  --logo-color: white;
  
  --footer-height: 40px;
  --footer-bg-color: var(--header-bg-color);

  --button-color: white;
  --button-bg-color: skyblue;
  --button-hover-bg-color: deepskyblue;

  --card-title-bg-color: skyblue;
  --card-title-color: white;
  --card-body-bg-color: white;
  --card-body-color: black;

  --product-card-size: 300px;
  --product-card-compact-size: 180px;
}

$mobile-breakpoint: 600px;
