.card {
  border: 1px solid var(--card-title-bg-color);
  border-radius: 0.5em;
  overflow: hidden;
  .title {
    color: var(--card-title-color);
    background-color: var(--card-title-bg-color);
    padding: 0.2em 0.5em;
  }
  .body {
    color: var(--card-body-color);
    background-color: var(--card-body-bg-color);
    max-height: 20ch;
    overflow: auto;
  }
}