.card {
  border: 1px solid var(--card-title-bg-color);
  border-radius: 0.5em;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;

  &.big > .title {
    font-size: 1.3em;
  }

  .title {
    color: var(--card-title-color);
    background-color: var(--card-title-bg-color);
    padding: 0.2em 0.5em;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .body {
    color: var(--card-body-color);
    background-color: var(--card-body-bg-color);
    overflow: auto;
  }
}