.wrapper {
  display: flex;
  align-items: center;
}

.images {
  display: flex;
  flex-direction: column;
  margin: 0 20px;

  .image {
    border: 2px solid rgb(52, 153, 72);
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
  }
}

.current-image  {
  margin: 20px 0;
  
  img {
    border: 2px solid rgb(52, 153, 72);
    border-radius: 5px;
  }
}