.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  max-width: 460px;
  overflow: hidden;
}

.current-image  {
  width: 100%;
  object-fit: cover;
}

.images {
  display: flex;
  gap: 0.5em;
  overflow: auto;

  .image { 
    border: 1px solid var(--divider-color);
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
    width: 60px;
    height: 60px;
    &:hover {
      border: 1px solid var(--main-color);
    }
  }
}