.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--footer-height);
  padding: 1em;
  background-color: var(--footer-bg-color);
  box-shadow: var(--shadow-3);
}