.pagination {
  display: flex;
  font-size: 20px;
}

.limit {


  .input-limit {
    text-align: center;
    border-radius: 5px;
    border: 2px solid rgba(3, 102, 214, 0.3);
    background-color: var(--card-title-bg-color);
    margin: 0 15px 0 5px;
    font-size: 16px;
    width: 40px;
  }
}

.page {
  .btn {
    font-size: 16px;
    padding: 2px 5px;
    margin: 0 5px;
    border: 2px solid rgba(3, 102, 214, 0.3)
  }
}