.product {  
  .list {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0.3em 0.8em;
    img {
      width: 3em;
      height: 3em;
      object-fit: cover;
    }
    .buttons-panel {
      margin-left: auto;
    }
  }

  .grid, .compact {
    position: relative;
    height: var(--product-card-size);
    overflow: hidden;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    .buttons-panel {
      position: absolute;
      right: 1em;
      bottom: 1em;
    }
  }

  .compact {
    height: var(--product-card-compact-size);
    .buttons-panel {
      flex-direction: column;
      align-items: flex-end;
      font-size: 0.7em;
    }
  }
}

.title {
  word-wrap: break-word;
}

.description {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 1em;
  left: 1em;
  padding: 0.3em 0.6em;
  border-radius: 0.2em;
  font-size: 0.8em;
  color: var(--card-title-color);
  background-color: var(--card-title-bg-color);
}

.buttons-panel {
  display: flex;
  gap: 1em;
  button {
    white-space: nowrap;
  }
}

.in-cart {
  .description {
    background-color: var(--warn-color);
  }
  button {
    background-color: var(--warn-color);
  }

  .list {
    color: var(--warn-color);
    font-weight: bold;
  }
}